<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascripts/script.js" type="text/javascript"></script>
    <meta Access-Control-Allow-Origin>
  </head>
  <body>
      <p id="demo"></p>
    {{{body}}}
  </body>
</html>
