<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header id="landing">
          <section>
              <a href="">
                  <img src="images/fundawonen-logo.svg" alt="logo funda">
              </a>
              <ul class="app-header-menu">
                  <li><a href="">Inloggen</a></li>
                  <li><a href="">Registreren</a></li>
              </ul>
          </section>
      </header>
      <main>
          <header>
                  <form class="gebruikersInput">
                  <section name="huurOfKoop">
                      <legend>Filters</legend>
                      <input type="radio" name="huurOfKoopSelectie" id="koop"  value="?type=koop&zo=/"checked="checked">
                      <label for="koop">Koop</label>
                      <input type="radio" name="huurOfKoopSelectie" id="huur"  value="?type=huur&zo=/">
                      <label for="huur">Huur</label>
                      <input type="radio" name="huurOfKoopSelectie" id="nieuwbouw" value="?type=nieuwbouw&zo=/">
                      <label for="nieuwbouw">Nieuwbouw</label>
                  </section>

                  <section name="locatie">
                      <label for="locatie">Locatie</label>
                      <input type="text" name="locatie" id="locatie" placeholder="Plaats, buurt, adres etc.">
                      <button class="sendAnswers" type="button">Zoek!</button>
                  </section>
              </form>
          </header>
      </main>
      <!-- <section class="results">
          <% for(var i = 0;i < data.results.length; i++) { %>
          <article>
              <h1 class="title"><%=data.results[i].title%></h1>
              <figure>
                  <img src="<%=data.results[i].backdrop_path%>">
                  <span class="vote_average"><%=data.results[i].vote_average%></span>
                  <figcaption>
                      <p class="overview"><%=data.results[i].overview%></p>
                      <footer>
                          <time class="release_date"><%=data.results[i].release_date%></time> <a href="" class="title_url">Official Website</a>
                      </footer>
                  </figcaption>
              </figure>
          </article>
  <% } %>
      </section> -->
  </body>
</html>
